#to run this scrpitï¼š
#docker compose up -d 

version: '3'

services: 
 mysql:
      image: mariadb 
      volumes: 
        - /home/mariadb01/data:/var/lib/mysql
        - /home/mariadb01/etc/my.cnf:/etc/mysql/my.cnf
      ports: 
        - "3306:3306"

      environment:
        MARIADB_ROOT_PASSWORD: 123456

#      healthcheck: 
#        test:  "netstat -antp|grep 3306"
#        interval:  "30s"
#        timeout:  "3s"
#        retries: 1
      restart: always


 backend: 
      depends_on:
        - mysql
      image: www.netgears.cn:4999/java:ok
      volumes: 
        - "/var/run/docker.sock:/var/run/docker.sock"
        - /usr/app/:/usr/app
      ports: 
        - "8088:8088"
      expose:
        - "8088"
      restart: always

 api:
      depends_on:
        - mysql
      image: www.netgears.cn:4999/java:ok
      volumes:
        - /usr/app/api:/usr/app
      ports:
        - "10368:8088"
      restart: always

 frontend: 
      depends_on:
       - backend
      image: www.netgears.cn:4999/nginx:ok
      volumes: 
      - /usr/app/:/usr/app
      ports:
      - "80:80"
      restart: always

 radius:
      depends_on:
       - mysql
      image: www.netgears.cn:4999/radius:ok
      volumes:
        - /home/radius/radius:/home/radius/radius
      ports: 
       - "1812-1813:1812-1813/udp" 
      healthcheck: 
        test:  "netstat -anup|grep 1812"
        interval:  "30s"
        timeout:  "3s"
        retries: 1
      restart: always

 autoheal:
    image: willfarrell/autoheal
    container_name: autoheal
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always


 portainer:
    image: portainer/portainer
    ports:
      - "0.0.0.0:9000:9000"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart: always


