# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    image: www.netgears.cn:4999/mariadb:ok
    volumes:
      - /home/mariadb02/data:/var/lib/mysql
      - /home/mariadb02/etc/my.cnf:/etc/mysql/my.cnf
   # restart: always
    environment:
      MARIADB_ROOT_PASSWORD: 123456
    ports:
      - 3306:3306

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
